.bgimage{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 103vh;
    width:450px;
    background-size: cover;
   
}
.card {
    padding: 20px;
    background-color: #f6c56e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family:cursive
}
.button {
    color: #323f4b;
    border-style: solid;
    border-width: 0px;
    background-color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 120px;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end
    
    
}